<div class="tarjeta m-2" style="background-color: white;">


  <div>

    <div class="fondo-lk">
      <img src="assets/fondo-linkdin.JPG" id="fondo-linkdin" alt="" class="img-fluid mx-auto d-block m-3">
      <div class="boton-and-click">
        <img src="assets/jp.jpg" id="jp-img" alt="">

        <button class="btn  btn-lg" (click)="mostrarAlerta('Desarrollador web', 'assets/jp.jpg', '',
      'Espero liderar equipos de desarrollo y trabajar en proyectos innovadores que puedan tener un impacto significativo en la vida de las personas.')"></button>

      </div>


    </div>
    <div class="perfil p-3">
      <h1>Juan Pablo Peralta Casanova</h1>
      <h2>Analista Programador</h2>
      <h5>Gran Santiago, Región Metropolitana de Santiago, Chile </h5>
      <p>Información de contacto</p>
      <p>87 contactos</p>

      <div class="list-profile">
        <button class="btn btn-primary">Tengo interes en ...</button>
        <button class="btn btn-primary">Añadir sección</button>
        <button class="btn btn-primary">Más</button>
      </div>

      <div class="acerca-de">
        <h2>Acerca de </h2>
        <p>Analista Programador con experiencia en soluciones backend y frontend.</p>
      </div>

      <div class="experiencia">
        <h2>Experiencia </h2>
        <div id="empresa-1">
          <img src="assets/indap.jpg" alt="">
          <h4>PHP Developer <br>
            <h5>INDAP · Profesional independiente</h5>
            <h6>sept. 2022 - ene. 2023 · 5 meses</h6><br>
            <p>Profesional de apoyo <br>
              Desarrollos en Laravel <br>
              Git <br>
              Docker <br>
              SQL Server</p>
          </h4>
        </div>
        <div id="empresa-2">
          <img src="assets/mgc.jpg" alt="">
          <h4>Desarrollador web <br>
            <h5>MGC · Jornada completa</h5>
            <h6>feb. 2022 - ago. 2022 · 7 meses</h6><br>
            <p>Desarrollo de sitios web corporativos</p>
          </h4>
        </div>
        <div id="empresa-3">
          <img src="assets/linkding.png" alt="">
          <h4>Shop Design Chile <br>

            <div class="primer-exp">
              <h5>
                Diseñador de páginas web</h5>
              <h6>oct. 2021 - feb. 2022 · 5 meses</h6><br>
              <p>Santiago, Región Metropolitana de Santiago, Chile</p>
            </div>

            <div class="vertical-line"></div>



            <div class="segun-exp">
            </div>
            <h5>
              Soporte Web
            </h5>
            <h6>jul. 2021 - feb. 2022 · 8 meses</h6>
            <p>Chile</p>



          </h4>
        </div>
        <div id="empresa-4">
          <img src="assets/maxcri.jpg" alt="">
          <h4>Analista de soporte para TI<br>
            <h5>Maxcri · Jornada parcial</h5>
            <h6>feb. 2020 - jun. 2021 · 1 año 5 meses</h6><br>
            <p>Santiago, Región Metropolitana de Santiago, Chile</p>
          </h4>
        </div>


      </div>

      <div class="educacion">
        <h2 class="mt-4 mb-4">Educación</h2>
        <div id="institucion-1">

          <img src="assets/linkding.png" alt="">
          <h4>IPCHILE<br>
            <h5>Titulado, Analista Programador</h5>
            <h6> 2018 - 2021</h6><br>

          </h4>
        </div>
      </div>
      <div class="licencias">
        <h2 class="mt-4 mb-4">Licencias y Certificaciones</h2>
        <div id="licencia-1">

          <img src="assets/coder.jpg" alt="">
          <h4>Photoshop e Ilustrator<br>
            <h5>Coderhouse</h5>
            <h6>Expedición: mar. 2022 </h6>
            <p>ID de credencial : 62203d79bd682b002523769a</p>
            <a class="btn btn-secondary" [href]="url" target="_blank" [innerHTML]="texto">Mostrar credencial</a>

          </h4>
        </div>
      </div>
    </div>
  </div>



</div>