<div class="row m-3">

   <div class="col col-sm-6">
        <div class="card-jp m-2">
            <div class="title-card"></div>
            <img src="assets/casa.e51d5356d71bbd293fb6.jpg" class="img-fluid" alt="">
            <button class="btn boton-parpadeante btn-lg" (click)="mostrarAlerta('Remodelación interna de casas', 'assets/casa.e51d5356d71bbd293fb6.jpg', 
            'casa Construccion' ,'https://casaconstruccion.cl/','Casa Construcción')">Ver trabajo</button>

            <div class="footer-card">Casa Construccion</div>
        </div>
    </div>
    <div class="col col-sm-6">
        <div class="card-jp m-2">
            <div class="title-card"></div>
            <img src="assets/san.d048ac85128731007b5f.jpg" class="img-fluid" alt="">
            <button class="btn boton-parpadeante btn-lg" (click)="mostrarAlerta('Santuario de la naturaleza', 'assets/san.d048ac85128731007b5f.jpg', 
            'Santuario de la naturaleza Cruz grande' ,'https://santuarionaturalezacruzgrande.cl/','Santuario')">Ver trabajo</button>
            <div class="footer-card">Santuario</div>
        </div>
    </div>


  <div class="col col-sm-6">
        <div class="card-jp m-2">
            <div class="title-card"></div>
            <img src="assets\ferre.7d3c2f548613119f86c5.jpg" class="img-fluid" alt="">
            <button class="btn boton-parpadeante btn-lg" (click)="mostrarAlerta('Ferreteria', 'assets/ferre.7d3c2f548613119f86c5.jpg', 
            'Ferreteria' ,'https://ferreterialasbrujas.cl/','Ferreteria')">Ver trabajo</button>
            <div class="footer-card">Ferreteria</div>
        </div>
    </div>


   <div class="col col-sm-6">
        <div class="card-jp m-2">
            <div class="title-card"></div>
            <img src="assets\chilede.8467a6c35af6cbfde9cb.jpg" class="img-fluid" alt="">
            <button class="btn boton-parpadeante btn-lg" (click)="mostrarAlerta('Chiledeluxe', 'assets/chilede.8467a6c35af6cbfde9cb.jpg', 
            'Chiledeluxe' ,'https://cl.chiledeluxe.cl/wp/','Chiledeluxe')">Ver trabajo</button>
            <div class="footer-card">Chiledeluxe</div>
        </div>
    </div>


   

 


    <div class="col col-sm-6">
        <div class="card-jp m-2">
            <div class="title-card"></div>
            <img src="assets\larueda.jpg" class="img-fluid" alt="">
            <button class="btn boton-parpadeante btn-lg" (click)="mostrarAlerta('La rueda store', 'assets/larueda.jpg', 
            'La rueda store' ,'https://laruedastore.cl/','La rueda store')">Ver trabajo</button>
            <div class="footer-card">Rio Puelo</div>
        </div>
    </div>



    <div class="col col-sm-6">
        <div class="card-jp m-2">
            <div class="title-card"></div>
            <img src="assets\guagua.ff8bc97774e783f44882.jpg" class="img-fluid" alt="">
            <button class="btn boton-parpadeante btn-lg" (click)="mostrarAlerta('todoguagua', 'assets/guagua.ff8bc97774e783f44882.jpg', 
            'todoguagua' ,'https://todoguagua.cl/','todoguagua')">Ver trabajo</button>
            <div class="footer-card">TODO guagua</div>
        </div>
    </div>


</div>